*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  min-width: 1024px;
  font-family: 'Kosugi Maru', sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: black;
}

.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}

.fontRed {
  color: red;
}

.fontLL {
  font-size: 150%;
}
.fontL {
  font-size: 125%;
}
.fontS {
  font-size: 75%;
}

.creviceRow {
  margin-top: 20px;
}
.creviceRowL {
  margin-top: 60px;
}

.relativeBox {
  position: relative;
}

.centerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.rightBox {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contentBox {
  padding-top: 12px;
  background-color: rgb(255, 244, 224);
  border-radius: 10px;
}
.contentBoxWhite {
  padding-top: 12px;
  background-color: white;
  border-radius: 10px;
}

.pageRow {
  height: 75vh;
}

#topLogoLink {
  border-color: rgb(255, 231, 187);
}
#logo1 {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(253, 116, 62);
  animation-name: logoAnime;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  left: 35%;
}
#logo2 {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(255, 244, 224);
  border-radius: 30px;
  background-color: rgb(255, 231, 187);
  left: 65%;
}
@keyframes logoAnime {
  0% {
    /* width: 50px;
    height: 50px; */
    background-color: rgb(253, 116, 62);
  }
  100% {
    /* width: 5px;
    height: 5px; */
    background-color: rgb(255, 231, 187);
  }
}

#headerBox {
  height: 70px;
  text-align: center;
  background-color: rgb(255, 231, 187);
  position: relative;
}

.headLinkTab:not([disabled]) {
  width: 80%;
  height: 30px;
  /* line-height: 30px; */
  background-color: rgb(255, 244, 224);
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px rgb(167, 148, 117);
  transition: box-shadow 0.2s, top 0.2s;
}
.headLinkTab[disabled] {
  cursor: auto;
}
.headLinkTab:hover:not([disabled]) {
  top: 57%;
  box-shadow: 0 0 rgb(145, 139, 128);
}

#loginBtn {
  width: auto;
}

#menuOpenBox {
  position: relative;
}
#menuOpen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 180%;
}
#menuCloseBox {
  height: 70px;
}
#menuClose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 180%;
}
#spMenu {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: rgb(255, 244, 224);
  z-index: 9;
}
.spMenuRow {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid black;
}
.spMenuLink {
  width: 100%;
  height: 69px;
  background-color: rgb(255, 244, 224);
  border: none;
}

#profileImgBox {
  height: 100px;
  position: relative;
}
#profileImg {
  position: absolute;
  top: 0;
  right: 10%;
  height: 100px;
  border-radius: 30px;
}

#mainImage {
  width: 100%;
}
#mainBackImage {
  background-image: url('../img/kayumi_topimage.JPG');
  background-size: cover;
  background-position: center;
  /* height: 100%; */
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#footerBox {
  height: 70px;
  text-align: center;
  background-color: rgb(255, 231, 187);
  position: relative;
}

#inquiryBtn {
  width: auto;
}

#inquiryModalContent {
  background-color: rgb(255, 244, 224);
}

#txtMailAddress {
  font-size: 16px;
}

#txtInquiryContent {
  font-size: 16px;
}

.visitCountDot {
  display: none;
}


#worriesRow {
  height: 75vh;
}

#worriesTalkingBox {
  overflow-y: scroll;
}
#worriesTalkingBox > div {
  height: 70vh;
}

#worriesTalkFormBox {
  overflow-y: scroll;
}
#worriesTalkFormBox > div {
  height: 70vh;
}

.worriesTalkContent {
  background-color: rgb(255, 244, 224);
  border-radius: 20px;
  padding: 1vw;
}

.sendInfo {
  width: 100%;
}

#noticeToast {
  width: 300px;
  height: 100px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: -1;
}
.successToast {
  background-color: rgb(56, 247, 56);
}
.errorToast {
  background-color: red;
  color: white;
}

#togglePostRow {
  display: none;
}

.worriesTalkButtonsOfPostPage {
  display: none;
}

#worriesTalkPostClose {
  cursor: pointer;
}

#worriesTalkLoading {
  margin-top: 20px;
  display: none;
}

.experienceContent {
  border: 10px solid rgb(255, 231, 187);
  padding: 20px;
  border-radius: 20px;
}


@media (max-width:576px) {
  body {
    min-width: auto;
  }

  #logo2 {
    left: 55%;
  }

  #loginBtn {
    width: 90%;
  }

  #inquiryBtn {
    width: 90%;
  }

  #profileImg {
    /* width: 100%;
    height: auto; */
  }



  #worriesRow {
    height: auto;
  }

  #worriesTalkingBox {
    overflow-y: auto;
  }
  #worriesTalkingBox > div {
    height: auto;
  }

  .worriesTalkContent {
    padding: 3vw;
  }

  #worriesTalkFormBox {
    overflow-y: auto;
  }
  #worriesTalkFormBox > div {
    height: auto;
  }
}